<ng-container *ngIf="false">
  <div>
    <header>
      <h1>TITOLONE</h1>
      <h2>{{ title }}</h2>
    </header>

    <app-navbar
      (onHomeButtonClicked)="doSomething($event)"
      [navItems]="navItems"
    ></app-navbar>
    OGGI: {{ oggi | date: "EEEE/MM/YYYY HH:mm:ss" }}
    <main></main>
  </div>

  <br />
  <br />
  <br />

  <app-dropdown
    [dropdownItems]="dropdownElements"
    (onDropdownItemClicked)="dropdownRaised($event)"
  >
    Hello
  </app-dropdown>

  <p appFatten fatLevel="normal">
    <!-- {{ 'robe' | nomePipe }} // -> nomePipe('robe') -->
    (A) This paragraph is displayed because the condition is false.
  </p>

  <h1>
    {{ "what looks like a quack and quaks like a duck is a duck" | randomcase }}
  </h1>

  <div #paperella [class.displayed]="isVisible">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, consequatur.
  </div>
</ng-container>

<button (click)="login = !login">cagn pagin</button>


{{ loginService.database | json }}